.icon {
  border-top: white 1px solid;
  border-left: white 1px solid;
  border-bottom: black 1px solid;
  border-right: black 1px solid;
  cursor: pointer;
  height: 2em;
  width: 2em;
  display: flex;
}

.icon:hover,
.icon__clicked {
  background-color: var(--bgButton);
  border-right: black 2px solid;
}

.icon__image {
  object-fit: contain;
}
