---
import Header from "@/components/Header.astro";
import Sidebar from "@/components/Sidebar.astro";
import Layout from "@/layouts/Layout.astro";
import Canvas from "@/components/Canvas.astro";
---

<Layout title="Paint.astro">
  <Sidebar />
  <div class="paint__content">
    <Header />
    <Canvas />
  </div>
</Layout>

<style>
  .paint__content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
</style>
