<a href="/" class="exit"> X </a>

<style>
  .exit {
    color: black;
    background-color: var(--bgPanel);
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    text-decoration: none;
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-bottom: black 1px solid;
    border-right: black 1px solid;
  }

  .exit:hover {
    border-right-width: 2px;
    border-bottom-width: 2px;
    background-color: var(--bgButton);
  }
</style>
