<button class="save">Save Paint</button>

<style>
  .save {
    background-color: var(--bgPanel);
    border-top: white 1px solid;
    border-left: white 1px solid;
    border-right: black 2px solid;
    border-bottom: black 2px solid;
    cursor: pointer;
    padding: 3px 15px;
    color: black;
    font-family: paint;
  }

  .save:hover {
    background-color: #868686;
  }
</style>
